:root {
  --operator-color: rgb(255, 123, 189);
  --util-color: rgb(200, 200, 200);
  --clear-color: pink;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

input {
  border-radius: 20px;
  width: 24%;
  height: 1.5em;
  border: 0;
  font-size: 1.5em;
}

.operator {
  background-color: var(--operator-color);
}

.equal {
  background-color: var(--util-color);
}

.viewbox {
  border: 0;
  resize: none;
  background-color: var(--util-color);
  border-radius: 10px;
  width: 100%;
  height: 1.15em;
  font-size: 3em;
  text-align: right;
  white-space: nowrap;
}

.clear {
  background-color: var(--clear-color);
  width: 11%;
}

.delete {
  background-color: var(--clear-color);
  width: 11%;
}

.operator:active,
.number:active,
.clear:active,
.equal:active,
.delete:active {
  filter: brightness(85%);
}
