:root {
  --operator-color: rgb(255, 123, 189);
  --util-color: pink;
  --viewbox-color: rgb(200, 200, 200);
}

.container {
  margin: 0 auto;
  width: 45%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

input {
  border-radius: 20px;
  height: 1.5em;
  border: 0;
  font-size: 1.5em;
}

.number,
.operator,
.util {
  width: 19%;
}
.nestedRow {
  width: 19%;
  margin-bottom: 0;
}

.halfWidth {
  width: 47%;
}

.operator {
  background-color: var(--operator-color);
}

.util {
  background-color: var(--util-color);
}

.viewbox {
  border: 0;
  resize: none;
  background-color: var(--viewbox-color);
  border-radius: 10px;
  width: 100%;
  height: 1.15em;
  font-size: 3em;
  text-align: right;
  white-space: nowrap;
}

.clear,
.delete {
  background-color: var(--clear-color);
  width: 47%;
}

.cleardel {
  margin: 0;
}

.operator:active,
.number:active,
.clear:active,
.equal:active,
.delete:active {
  filter: brightness(85%);
}
