.container {
  width: 25%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

input {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: 0;
}

.operator {
  background-color: rgb(255, 123, 189);
}

.equal {
  background-color: rgb(200, 200, 200);
}

.viewbox {
  border: 0;
  resize: none;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
}
