body {
  background-color: dimgray;
}

#container {
  width: 625px;
  margin: 0 auto;
  background-color: #f5f5dc;
  border-left: solid dimgray 5px;
  border-right: solid dimgray 5px;

  outline: solid beige 5px;
  padding: 20px;
}

h1 {
  color: #f5f5dc;
  text-align: center;
  background-color: lightseagreen;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 50px;
  border: dashed beige 10px;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 18px;

  margin-top: 20px;
}

a {
  text-decoration: none;
  color: royalblue;
  font-weight: bold;
}
h3 {
  border-left: solid lightseagreen 9px;
  border-bottom: solid lightseagreen 5px;
  width: 65%;
  padding-left: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: arial;
  font-size: 16px;
}

p {
  line-height: 1.8;
  font-family: arial;
  font-size: 12px;
}

#pic1 {
  float: right;
  width: 60%;
  padding: 10px;
}
#pic2 {
  float: left;
  width: 40%;
  padding: 10px;
}
